In [1]:
import pandas as pd
# product data
name = ["Keyboard","Doll","iphone12"]
category = ["Hardware","Toy","Telephone"]
price = [1200,500,32000]

In [2]:
# series
name_series = pd.Series(name)
category_series = pd.Series(category)
price_series = pd.Series(price)

In [3]:
frame = {"Name":name_series,"category":category_series,"price":price_series}

In [4]:
df = pd.DataFrame(frame)
df

       Name   category  price
0  Keyboard   Hardware   1200
1      Doll        Toy    500
2  iphone12  Telephone  32000

In [ ]:
df.to_csv("product.csv")