In [2]:
import pandas as pd
datas = [10,20,30,40]

In [4]:
df = pd.DataFrame(datas)
df

    0
0  10
1  20
2  30
3  40

In [5]:
datass_tu = (14,57,23,67,43)

In [6]:
df = pd.DataFrame(datass_tu)
df

    0
0  14
1  57
2  23
3  67
4  43

สร้างหัวตาราง

In [7]:
cols = ["Age"]
df = pd.DataFrame(datass_tu,columns=cols)
df

   Age
0   14
1   57
2   23
3   67
4   43