In [1]:
import pandas as pd 
datas = [["Keyboard","Hardware",1200],["Doll","Toy",500],["Iphone12","Telephone",32000]]
cols = ["Name","Catagory","price"]

In [3]:
df = pd.DataFrame(datas,columns=cols)
df

       Name   Catagory  price
0  Keyboard   Hardware   1200
1      Doll        Toy    500
2  Iphone12  Telephone  32000